@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Patrick+Hand+SC&display=swap");

@layer base {
  html {
    @apply bg-black-900 text-black-100;
  }
  * {
    @apply text-black-100;
    font-family: "Montserrat", sans-serif;
  }
  .text-hand {
    font-family: "Patrick Hand SC", cursive;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1rem;
  }
  .mountain {
    @apply transition duration-200 ease-in-out;
  }
  .input-primary {
    @apply border border-violet-100 
        focus:border-gold-700 focus:outline-none focus:bg-violet-700
        hover:border-gold-700 hover:bg-violet-700
        bg-violet-500 text-gold-700
        transition duration-200 ease-in-out
        p-2 rounded-md w-full;
  }
  .text-box-primary {
    @apply border border-black-500 
        focus:border-gold-700 focus:outline-none focus:bg-violet-700
         text-gold-700
        p-2 rounded-md w-full;
  }
  .input-no-edit {
    @apply bg-violet-700 border-black-500
    hover:bg-violet-700 hover:border-black-500;
  }
  .triangle-down:before,
  .triangle-down:after {
    content: "";
    position: absolute;
    width: 15%;
    height: 4px;
    border-radius: 10px;
    bottom: -15px;
    background-color: #c6994c;
    transition: all 6s ease-in-out;
  }
  .triangle-down:before {
    right: 50%;
    margin-left: -5px;
    animation: rotate-right 6s linear infinite;
  }
  .triangle-down:after {
    left: 50%;
    margin-left: -5px;
    animation: rotate-left 6s linear infinite;
  }
  @keyframes rotate-right {
    0% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    30% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }

    45% {
      transform: rotate(25deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }

    50% {
      transform: rotate(25deg);
      box-shadow: 3px 6px 0px 0px #b16058;
    }
    55% {
      transform: rotate(25deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    60% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    100% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
  }
  @keyframes rotate-left {
    0% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    30% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }

    45% {
      transform: rotate(-25deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    50% {
      transform: rotate(-25deg);
      box-shadow: -3px 6px 0px 0px #b16058;
    }
    55% {
      transform: rotate(-25deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
    60% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }

    100% {
      transform: rotate(0deg);
      box-shadow: 0px 0px 0px 0px rgba(177, 96, 88, 0);
    }
  }
  .content:before {
    @apply bg-black-500;
    filter: blur(1px);
    content: "";
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .box-container {
    @apply content transition duration-200 ease-in-out border border-black-500 rounded-sm px-4 py-10 md:p-14 relative;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .nav-btn {
    @apply px-7 py-3 text-lg relative border border-gray-500 border-opacity-20;
  }
  .nav-btn.active {
    @apply bg-gold-500 text-violet-700;
  }

  .about-list li h3:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 12px;
    left: -18px;
    transform: rotate(45deg);
    box-shadow: 1px 1px 2px 2px #86465f;
    @apply bg-gold-500;
  }

  .about-list li h3 {
    @apply text-gold-500 text-hand text-2xl relative ml-8 pl-2 col-span-4;
  }
  .about-list li {
    @apply grid grid-cols-5;
  }

  .about-list li p {
    @apply pl-2 text-white top-2 relative col-span-5 text-lg;
  }
  .about-list li p strong {
    @apply text-gold-100;
  }
}
